.DS_Store
._*
*.class
*.swp
*~
out/

### IntelliJ IDEA ###
.idea
*.iml

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!com.microsoft.z3.jar

# Cache of project
.gradletasknamecache

# Python
__pycache__

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# End of https://www.gitignore.io/api/java,gradle

baselines/eusolver/benchmarks/mongodb/1.sl
baselines/eusolver/benchmarks/mongodb/10.sl
baselines/eusolver/benchmarks/mongodb/100.sl
baselines/eusolver/benchmarks/mongodb/101.sl
baselines/eusolver/benchmarks/mongodb/102.sl
baselines/eusolver/benchmarks/mongodb/103.sl
baselines/eusolver/benchmarks/mongodb/104.sl
baselines/eusolver/benchmarks/mongodb/105.sl
baselines/eusolver/benchmarks/mongodb/106.sl
baselines/eusolver/benchmarks/mongodb/107.sl
baselines/eusolver/benchmarks/mongodb/108.sl
baselines/eusolver/benchmarks/mongodb/109.sl
baselines/eusolver/benchmarks/mongodb/11.sl
baselines/eusolver/benchmarks/mongodb/110.sl
baselines/eusolver/benchmarks/mongodb/12.sl
baselines/eusolver/benchmarks/mongodb/13.sl
baselines/eusolver/benchmarks/mongodb/14.sl
baselines/eusolver/benchmarks/mongodb/15.sl
baselines/eusolver/benchmarks/mongodb/16.sl
baselines/eusolver/benchmarks/mongodb/17.sl
baselines/eusolver/benchmarks/mongodb/18.sl
baselines/eusolver/benchmarks/mongodb/19.sl
baselines/eusolver/benchmarks/mongodb/2.sl
baselines/eusolver/benchmarks/mongodb/20.sl
baselines/eusolver/benchmarks/mongodb/21.sl
baselines/eusolver/benchmarks/mongodb/22.sl
baselines/eusolver/benchmarks/mongodb/23.sl
baselines/eusolver/benchmarks/mongodb/24.sl
baselines/eusolver/benchmarks/mongodb/25.sl
baselines/eusolver/benchmarks/mongodb/26.sl
baselines/eusolver/benchmarks/mongodb/27.sl
baselines/eusolver/benchmarks/mongodb/28.sl
baselines/eusolver/benchmarks/mongodb/29.sl
baselines/eusolver/benchmarks/mongodb/3.sl
baselines/eusolver/benchmarks/mongodb/30.sl
baselines/eusolver/benchmarks/mongodb/31.sl
baselines/eusolver/benchmarks/mongodb/32.sl
baselines/eusolver/benchmarks/mongodb/33.sl
baselines/eusolver/benchmarks/mongodb/34.sl
baselines/eusolver/benchmarks/mongodb/35.sl
baselines/eusolver/benchmarks/mongodb/36.sl
baselines/eusolver/benchmarks/mongodb/37.sl
baselines/eusolver/benchmarks/mongodb/38.sl
baselines/eusolver/benchmarks/mongodb/39.sl
baselines/eusolver/benchmarks/mongodb/4.sl
baselines/eusolver/benchmarks/mongodb/40.sl
baselines/eusolver/benchmarks/mongodb/41.sl
baselines/eusolver/benchmarks/mongodb/42.sl
baselines/eusolver/benchmarks/mongodb/43.sl
baselines/eusolver/benchmarks/mongodb/44.sl
baselines/eusolver/benchmarks/mongodb/45.sl
baselines/eusolver/benchmarks/mongodb/46.sl
baselines/eusolver/benchmarks/mongodb/47.sl
baselines/eusolver/benchmarks/mongodb/48.sl
baselines/eusolver/benchmarks/mongodb/49.sl
baselines/eusolver/benchmarks/mongodb/5.sl
baselines/eusolver/benchmarks/mongodb/50.sl
baselines/eusolver/benchmarks/mongodb/51.sl
baselines/eusolver/benchmarks/mongodb/52.sl
baselines/eusolver/benchmarks/mongodb/53.sl
baselines/eusolver/benchmarks/mongodb/54.sl
baselines/eusolver/benchmarks/mongodb/55.sl
baselines/eusolver/benchmarks/mongodb/56.sl
baselines/eusolver/benchmarks/mongodb/57.sl
baselines/eusolver/benchmarks/mongodb/58.sl
baselines/eusolver/benchmarks/mongodb/59.sl
baselines/eusolver/benchmarks/mongodb/6.sl
baselines/eusolver/benchmarks/mongodb/60.sl
baselines/eusolver/benchmarks/mongodb/61.sl
baselines/eusolver/benchmarks/mongodb/62.sl
baselines/eusolver/benchmarks/mongodb/63.sl
baselines/eusolver/benchmarks/mongodb/64.sl
baselines/eusolver/benchmarks/mongodb/65.sl
baselines/eusolver/benchmarks/mongodb/66.sl
baselines/eusolver/benchmarks/mongodb/67.sl
baselines/eusolver/benchmarks/mongodb/68.sl
baselines/eusolver/benchmarks/mongodb/69.sl
baselines/eusolver/benchmarks/mongodb/7.sl
baselines/eusolver/benchmarks/mongodb/70.sl
baselines/eusolver/benchmarks/mongodb/71.sl
baselines/eusolver/benchmarks/mongodb/72.sl
baselines/eusolver/benchmarks/mongodb/73.sl
baselines/eusolver/benchmarks/mongodb/74.sl
baselines/eusolver/benchmarks/mongodb/75.sl
baselines/eusolver/benchmarks/mongodb/76.sl
baselines/eusolver/benchmarks/mongodb/77.sl
baselines/eusolver/benchmarks/mongodb/78.sl
baselines/eusolver/benchmarks/mongodb/79.sl
baselines/eusolver/benchmarks/mongodb/8.sl
baselines/eusolver/benchmarks/mongodb/80.sl
baselines/eusolver/benchmarks/mongodb/81.sl
baselines/eusolver/benchmarks/mongodb/82.sl
baselines/eusolver/benchmarks/mongodb/83.sl
baselines/eusolver/benchmarks/mongodb/84.sl
baselines/eusolver/benchmarks/mongodb/85.sl
baselines/eusolver/benchmarks/mongodb/86.sl
baselines/eusolver/benchmarks/mongodb/87.sl
baselines/eusolver/benchmarks/mongodb/88.sl
baselines/eusolver/benchmarks/mongodb/89.sl
baselines/eusolver/benchmarks/mongodb/9.sl
baselines/eusolver/benchmarks/mongodb/90.sl
baselines/eusolver/benchmarks/mongodb/91.sl
baselines/eusolver/benchmarks/mongodb/92.sl
baselines/eusolver/benchmarks/mongodb/93.sl
baselines/eusolver/benchmarks/mongodb/94.sl
baselines/eusolver/benchmarks/mongodb/95.sl
baselines/eusolver/benchmarks/mongodb/96.sl
baselines/eusolver/benchmarks/mongodb/97.sl
baselines/eusolver/benchmarks/mongodb/98.sl
baselines/eusolver/benchmarks/mongodb/99.sl
baselines/eusolver/benchmarks/mongodb/test.sl
